
body {
    background-color: black;
}
header {
  position: relative;
  padding: 20px;
  display: flex;
  align-items: center;      
  justify-content: space-between; 
  color: beige;
}

header h1 {
  position: absolute;      
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  text-align: center;
}

.volver, .siguiente {
  background: linear-gradient(90deg, #222 0%, #333 100%);
  color: #fff;
  border: 1px solid #e60012;
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  transition: 0.3s;
}

.volver:hover, .siguiente:hover {
  background: #e60012;
  transform: scale(1.05);
}

.botones-centrados {
    display: flex;               
    justify-content: center;     
    gap: 20px;                   
    margin: 40px 0;
      
}

.ver-sailkapena1 {
    display: block;               
    width: max-content;          
    margin: 40px auto;            
    color: #fff;
    text-decoration: none;        
    font-weight: bold;
    padding: 12px 24px;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    border: 1px solid #e60012;
}

.ver-sailkapena1:hover {
    background: #ff1a30;
    transform: scale(1.05);
    cursor: pointer;
}


.ver-equipos, .ver-sailkapena {
    border: 1px solid #e60012;
    color: #fff;
    text-decoration: none;      
    font-weight: bold;
    padding: 12px 24px;
    border-radius: 10px;
    transition: 0.3s;
    display: inline-block;
    text-align: center;
}

.ver-equipos:hover, .ver-sailkapena:hover {
    background: #ff1a30;
    transform: scale(1.05);
}



.equipos-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 150px; 
    justify-content: center;
    padding: 80px;
}

.equipo-card {
  position: relative; 
  width: 250px; 
  height: 300px;
  overflow: hidden; 
}

.equipo-card .nombre-equipo {
  position: absolute; 
  bottom: 0;                
  width: 100%;    
  margin: 0;       
  padding: 12px 15px; 
  position: absolute;
  bottom: 0;     
  left: 0;         
  width: 100%;         
  padding: 12px 15px; 
  background-color: rgba(0, 0, 0, 0.65);
  color: white;                         
  font-size: 1.2em;                    
  font-weight: bold;                    
  text-align: left;                     
  
 }

/*/ Jugadores de FAZE /*/

#j1{
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 220px;
    height: 360px; 
    text-align: center;
    padding: 15px;
    border: 2px solid #333; 
    border-radius: 8px; 
    background-color: #1a1a1a; 
    color: #fff; 
    transition: transform 0.3s, box-shadow 0.3s;
    background-image: url(../img/equipos/banderas/dinamarca.png);
    background-size: cover;
}

#j2{
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 220px;
    height: 360px; 
    text-align: center;
    padding: 15px;
    border: 2px solid #333; 
    border-radius: 8px; 
    background-color: #1a1a1a; 
    color: #fff; 
    transition: transform 0.3s, box-shadow 0.3s;
    background-image: url(../img/equipos/banderas/canada.png);
    background-position: center;
    background-size: contain;
}

#j3{
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 220px;
    height: 360px; 
    text-align: center;
    padding: 15px;
    border: 2px solid #333; 
    border-radius: 8px; 
    background-color: #1a1a1a; 
    color: #fff; 
    transition: transform 0.3s, box-shadow 0.3s;
    background-image: url(../img/equipos/banderas/eslovaquia.png);
    background-size: cover;
    background-position: center;
    
}

#j1:hover{

    box-shadow: 0 10px 20px rgb(255, 255, 255);
}

#j2:hover{

    box-shadow: 0 10px 20px rgb(255, 0, 0);
}

#j3:hover{

    box-shadow: 0 10px 20px rgb(255, 255, 255);
}


.eslovaquia{

    width: 16px;
    height: 12px;
    border-radius: 2px; 
    border: 1px solid rgba(255, 255, 255, 0.3); 
}

.canada {

    width: 16px;
    height: 12px;
    border-radius: 2px; 
    border: 1px solid rgba(238, 238, 238, 0.3); 
}

.dinamarca {
    width: 16px;
    height: 12px;
    border-radius: 2px; 
    border: 1px solid rgba(255, 255, 255, 0.3); 
}

/*/ Jugadores de G2 /*/

#j1-g2{
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 220px;
    height: 360px; 
    text-align: center;
    padding: 15px;
    border: 2px solid #333; 
    border-radius: 8px; 
    background-color: #1a1a1a; 
    color: #fff; 
    transition: transform 0.3s, box-shadow 0.3s;
    background-image: url(../img/equipos/banderas/bosnia.png);
    background-size: cover;
    background-position: center center; 
    background-repeat: no-repeat;
}

#j2-g2{
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 220px;
    height: 360px; 
    text-align: center;
    padding: 15px;
    border: 2px solid #333; 
    border-radius: 8px; 
    background-color: #1a1a1a; 
    color: #fff; 
    transition: transform 0.3s, box-shadow 0.3s;
    background-image: url(../img/equipos/banderas/guatemala.png);
    background-position: center;
    background-size: contain;
}

#j3-g2{
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 220px;
    height: 360px; 
    text-align: center;
    padding: 15px;
    border: 2px solid #333; 
    border-radius: 8px; 
    background-color: #1a1a1a; 
    color: #fff; 
    transition: transform 0.3s, box-shadow 0.3s;
    background-image: url(../img/equipos/banderas/españa.png);
    background-size: cover;
    background-position: center;
}

#j1-g2:hover{

    box-shadow: 0 10px 20px rgb(255, 255, 255);
}

#j2-g2:hover{

    box-shadow: 0 10px 20px rgb(0, 238, 255);
}

#j3-g2:hover{

    box-shadow: 0 10px 20px rgb(251, 255, 0);
}

.bosnia{

    width: 16px;
    height: 12px;
    border-radius: 2px; 
    border: 1px solid rgba(255, 255, 255, 0.3); 
}

.guatemala {

    width: 16px;
    height: 12px;
    border-radius: 2px; 
    border: 1px solid rgba(238, 238, 238, 0.3); 
}

.españa {
    width: 16px;
    height: 12px;
    border-radius: 2px; 
    border: 1px solid rgba(255, 255, 255, 0.3); 
}

/*/ Jugadores de Falcons /*/

#j1-f{
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 220px;
    height: 360px; 
    text-align: center;
    padding: 15px;
    border: 2px solid #333; 
    border-radius: 8px; 
    background-color: #1a1a1a; 
    color: #fff; 
    transition: transform 0.3s, box-shadow 0.3s;
    background-image: url(../img/equipos/banderas/bosnia.png);
    background-size: cover;
    background-position: center center; 
    background-repeat: no-repeat;
}

#j2-f{
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 220px;
    height: 360px; 
    text-align: center;
    padding: 15px;
    border: 2px solid #333; 
    border-radius: 8px; 
    background-color: #1a1a1a; 
    color: #fff; 
    transition: transform 0.3s, box-shadow 0.3s;
    background-image: url(../img/equipos/banderas/dinamarca.png);
    background-position: center;
    background-size: cover;

}

#j3-f{
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 220px;
    height: 360px; 
    text-align: center;
    padding: 15px;
    border: 2px solid #333; 
    border-radius: 8px; 
    background-color: #1a1a1a; 
    color: #fff; 
    transition: transform 0.3s, box-shadow 0.3s;
    background-image: url(../img/equipos/banderas/rusia.png);
    background-size: cover;
    background-position: center;
}

#j1-f:hover{

    box-shadow: 0 10px 20px rgb(255, 255, 255);
}

#j2-f:hover{

    box-shadow: 0 10px 20px rgb(255, 1, 1);
}

#j3-f:hover{

    box-shadow: 0 10px 20px rgb(0, 119, 255);
}

.bosnia{

    width: 16px;
    height: 12px;
    border-radius: 2px; 
    border: 1px solid rgba(255, 255, 255, 0.3); 
}

.dinamarca {

    width: 16px;
    height: 12px;
    border-radius: 2px; 
    border: 1px solid rgba(238, 238, 238, 0.3); 
}

.rusia {
    width: 16px;
    height: 12px;
    border-radius: 2px; 
    border: 1px solid rgba(255, 255, 255, 0.3); 
}


/*/ Jugadores de Vitality /*/

#j1-v{
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 220px;
    height: 360px; 
    text-align: center;
    padding: 15px;
    border: 2px solid #333; 
    border-radius: 8px; 
    background-color: #1a1a1a; 
    color: #fff; 
    transition: transform 0.3s, box-shadow 0.3s;
    background-image: url(../img/equipos/banderas/francia.png);
    background-size: cover;
    background-position: center center; 
    background-repeat: no-repeat;
}

#j2-v{
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 220px;
    height: 360px; 
    text-align: center;
    padding: 15px;
    border: 2px solid #333; 
    border-radius: 8px; 
    background-color: #1a1a1a; 
    color: #fff; 
    transition: transform 0.3s, box-shadow 0.3s;
    background-image: url(../img/equipos/banderas/francia.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

#j3-v{
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 220px;
    height: 360px; 
    text-align: center;
    padding: 15px;
    border: 2px solid #333; 
    border-radius: 8px; 
    background-color: #1a1a1a; 
    color: #fff; 
    transition: transform 0.3s, box-shadow 0.3s;
    background-image: url(../img/equipos/banderas/estonia.png);
    background-size: cover;
    background-position: center;
}

#j1-v:hover{

    box-shadow: 0 10px 20px rgb(255, 255, 255);
}

#j2-v:hover{

    box-shadow: 0 10px 20px rgb(255, 255, 255);
}

#j3-v:hover{

    box-shadow: 0 10px 20px rgb(0, 119, 255);
}

.francia{

    width: 16px;
    height: 12px;
    border-radius: 2px; 
    border: 1px solid rgba(255, 255, 255, 0.3); 
}

.estonia {

    width: 16px;
    height: 12px;
    border-radius: 2px; 
    border: 1px solid rgba(238, 238, 238, 0.3); 
}

/*/ Jugadores de Navi /*/

#j1-n{
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 220px;
    height: 360px; 
    text-align: center;
    padding: 15px;
    border: 2px solid #333; 
    border-radius: 8px; 
    background-color: #1a1a1a; 
    color: #fff; 
    transition: transform 0.3s, box-shadow 0.3s;
    background-image: url(../img/equipos/banderas/finlandia.png);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}

#j2-n{
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 220px;
    height: 360px; 
    text-align: center;
    padding: 15px;
    border: 2px solid #333; 
    border-radius: 8px; 
    background-color: #1a1a1a; 
    color: #fff; 
    transition: transform 0.3s, box-shadow 0.3s;
    background-image: url(../img/equipos/banderas/rumania.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

#j3-n{
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 220px;
    height: 360px; 
    text-align: center;
    padding: 15px;
    border: 2px solid #333; 
    border-radius: 8px; 
    background-color: #1a1a1a; 
    color: #fff; 
    transition: transform 0.3s, box-shadow 0.3s;
    background-image: url(../img/equipos/banderas/ucrania.png);
    background-size: cover;
    background-position: center;
}

#j1-n:hover{

    box-shadow: 0 10px 20px rgb(255, 255, 255);
}

#j2-n:hover{

    box-shadow: 0 10px 20px rgb(255, 230, 0);
}

#j3-n:hover{

    box-shadow: 0 10px 20px rgb(0, 119, 255);
}

.finlandia {

    width: 16px;
    height: 12px;
    border-radius: 2px; 
    border: 1px solid rgba(255, 255, 255, 0.3); 
}

.rumania {

    width: 16px;
    height: 12px;
    border-radius: 2px; 
    border: 1px solid rgba(238, 238, 238, 0.3); 
}

.ucrania {

    width: 16px;
    height: 12px;
    border-radius: 2px; 
    border: 1px solid rgba(238, 238, 238, 0.3); 
}


/*/ Jugadores de Fnatic /*/

#j1-fn{
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 220px;
    height: 360px; 
    text-align: center;
    padding: 15px;
    border: 2px solid #333; 
    border-radius: 8px; 
    background-color: #1a1a1a; 
    color: #fff; 
    transition: transform 0.3s, box-shadow 0.3s;
    background-image: url(../img/equipos/banderas/suecia.png);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}

#j2-fn{
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 220px;
    height: 360px; 
    text-align: center;
    padding: 15px;
    border: 2px solid #333; 
    border-radius: 8px; 
    background-color: #1a1a1a; 
    color: #fff; 
    transition: transform 0.3s, box-shadow 0.3s;
    background-image: url(../img/equipos/banderas/dinamarca.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

#j3-fn{
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 220px;
    height: 360px; 
    text-align: center;
    padding: 15px;
    border: 2px solid #333; 
    border-radius: 8px; 
    background-color: #1a1a1a; 
    color: #fff; 
    transition: transform 0.3s, box-shadow 0.3s;
    background-image: url(../img/equipos/banderas/ucrania.png);
    background-size: cover;
    background-position: center;
}

#j1-fn:hover{

    box-shadow: 0 10px 20px rgb(0, 102, 255);
}

#j2-fn:hover{

    box-shadow: 0 10px 20px rgb(255, 255, 255);
}

#j3-fn:hover{

    box-shadow: 0 10px 20px rgb(0, 119, 255);
}

.suecia {

    width: 16px;
    height: 12px;
    border-radius: 2px; 
    border: 1px solid rgba(255, 255, 255, 0.3); 
}

.dinamarca {

    width: 16px;
    height: 12px;
    border-radius: 2px; 
    border: 1px solid rgba(238, 238, 238, 0.3); 
}

.ucrania {

    width: 16px;
    height: 12px;
    border-radius: 2px; 
    border: 1px solid rgba(238, 238, 238, 0.3); 
}

/*/ Jugadores de Furia /*/

#j1-fur{
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 220px;
    height: 360px; 
    text-align: center;
    padding: 15px;
    border: 2px solid #333; 
    border-radius: 8px; 
    background-color: #1a1a1a; 
    color: #fff; 
    transition: transform 0.3s, box-shadow 0.3s;
    background-image: url(../img/equipos/banderas/brasil.png);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}

#j2-fur{
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 220px;
    height: 360px; 
    text-align: center;
    padding: 15px;
    border: 2px solid #333; 
    border-radius: 8px; 
    background-color: #1a1a1a; 
    color: #fff; 
    transition: transform 0.3s, box-shadow 0.3s;
    background-image: url(../img/equipos/banderas/brasil.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

#j3-fur{
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 220px;
    height: 360px; 
    text-align: center;
    padding: 15px;
    border: 2px solid #333; 
    border-radius: 8px; 
    background-color: #1a1a1a; 
    color: #fff; 
    transition: transform 0.3s, box-shadow 0.3s;
    background-image: url(../img/equipos/banderas/letonia.png);
    background-size: cover;
    background-position: center;
}

#j1-fur:hover{

    box-shadow: 0 10px 20px rgb(0, 255, 0);
}

#j2-fur:hover{

    box-shadow: 0 10px 20px rgb(0, 255, 0);
}

#j3-fur:hover{

    box-shadow: 0 10px 20px rgb(129, 19, 19);
}

.brasil {

    width: 16px;
    height: 12px;
    border-radius: 2px; 
    border: 1px solid rgba(255, 255, 255, 0.3); 
}

.letonia {

    width: 16px;
    height: 12px;
    border-radius: 2px; 
    border: 1px solid rgba(238, 238, 238, 0.3); 
}

/*/ Jugadores de Mongolz /*/

#j1-mon{
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 220px;
    height: 360px; 
    text-align: center;
    padding: 15px;
    border: 2px solid #333; 
    border-radius: 8px; 
    background-color: #1a1a1a; 
    color: #fff; 
    transition: transform 0.3s, box-shadow 0.3s;
    background-image: url(../img/equipos/banderas/mongolia.png);
    background-size: contain;
    background-position: center; 
}

#j2-mon{
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 220px;
    height: 360px; 
    text-align: center;
    padding: 15px;
    border: 2px solid #333; 
    border-radius: 8px; 
    background-color: #1a1a1a; 
    color: #fff; 
    transition: transform 0.3s, box-shadow 0.3s;
    background-image: url(../img/equipos/banderas/mongolia.png);
    background-size: contain;
    background-position: center;
    

}

#j3-mon{
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 220px;
    height: 360px; 
    text-align: center;
    padding: 15px;
    border: 2px solid #333; 
    border-radius: 8px; 
    background-color: #1a1a1a; 
    color: #fff; 
    transition: transform 0.3s, box-shadow 0.3s;
    background-image: url(../img/equipos/banderas/mongolia.png);
    background-size: contain;
    background-position: center;
}

#j1-mon:hover{

    box-shadow: 0 10px 20px rgb(255, 0, 0);
}

#j2-mon:hover{

    box-shadow: 0 10px 20px rgb(255, 2, 2);
}

#j3-mon:hover{

    box-shadow: 0 10px 20px rgb(255, 0, 0);
}

.mongolia {

    width: 16px;
    height: 12px;
    border-radius: 2px; 
    border: 1px solid rgba(255, 255, 255, 0.3); 
}

