 body{
     background: radial-gradient(circle at top, #1a1a1a 0%, #0a0a0a 100%);
}

.header{
    background-color:rgb(26, 26, 26);
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
}

h1 {
    color: #96030f;
    text-align: center;
}

.volver {
  background: linear-gradient(90deg, #222 0%, #333 100%);
  color: #fff;
  border: 1px solid #e60012;
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  gap: 6px;
}

.volver:hover {
  background: #e60012;
  box-shadow: 0 0 10px #e60012;
  transform: scale(1.05);
}



button[type="submit"]:hover {
  background: #ff1f1f;
  box-shadow: 0 0 10px #e60012;
  transform: scale(1.03);
}