
body{
     background: radial-gradient(circle at top, #1a1a1a 0%, #0a0a0a 100%);


}

.header{
    background-color:rgb(26, 26, 26);
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
}

.header h1{
    font-size: 45px;
    color: rgb(172, 6, 6);
    flex-grow: 1;
    text-align: center;
    margin: 0;

}

.navegador{
    display: flex;
    gap: 5px;
}

.contenedor{
  margin-top: 100px;  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  justify-items: center;
  
}

.bloque{

    display: flex;
    flex-direction: column;
    align-items: center;
  

}

.caja-texto{

  width: 380px;
  height: 250px;
  border-radius: 12px;
  box-shadow: 0 2px 16px rgba(0,0,0,0.4);
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  box-shadow: 0 0 10px #e60012;

}

.caja-titulo{

  color: #e60012;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.15em;
  margin-bottom: 2rem;
  box-shadow: 0 0 10px #e60012;

    
}

#formulario{
  background-image: url('../img/formulario.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-shadow: 0 0 10px #e60012;


}

#participantes{
  background-image: url('../img/participantes.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 10px #e60012;

}

#conocenos{
  background-image: url('../img/conocenos.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 10px #e60012;

}
#noticias{

background-image: url("../img/noticias.png");
background-size: 380px;


background-position: center;
background-repeat: no-repeat;
box-shadow: 0 0 10px #e60012;
  
}

#clasificacion{

  background-image: url("../img/clasificacion.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 10px #e60012;

}

.cookie-caja{

  width: cover;
  background: grey;
  color: white;
  border-top: 1px solid #000000;
  margin-top: 108px;
  padding: 10px;
  text-align: center;

}

#cookie-boton button{

  background: #000000;
  color: #fff;
  padding: 7px 15px;
  margin-left: 8px;
  border-radius: 4px;
  cursor: pointer;
}

#participantes:hover {

  box-shadow: 0 10px 20px rgb(255, 0, 0);
}

#clasificacion:hover {
   box-shadow: 0 10px 20px rgb(255, 0, 0);
}

#noticias:hover {
   box-shadow: 0 10px 20px rgb(255, 0, 0);
}

#conocenos:hover {
   box-shadow: 0 10px 20px rgb(255, 0, 0);
}

#formulario:hover {
   box-shadow: 0 10px 20px rgb(255, 0, 0);
}

#sarrera:hover {
  box-shadow: 0 10px 20px rgb(255, 0, 0);
}